:root {
    font-family: "Raleway";
}

a {
    text-decoration: none;
    margin: 2%;
    text-align: center;
    font-size: 1.25vw;
    color: #157ea0;
}

p {
    margin-left: 25%;
    margin-right: 25%;
}

div {
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
    text-align: center;
}

div:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 1.5%;
    padding-bottom: 2.5%;
}

.big {
    font-size: 3.5vw;
    font-weight: bold;
    font-family: "Caveat";
    color: #dec05f;
}

.greenBig {
    font-size: 3.5vw;
    font-weight: bold;
    font-family: "Oswald";
    color: #009f00;
}

.blueBig {
    font-size: 2.75vw;
    font-weight: bold;
    font-family: "Ubuntu";
    color: #157ea0;
}

.blackBig {
    font-size: 3.5vw;
    font-weight: bold;
    font-family: "Yellowtail";
    color: black;
}

.yellow {
    color: #dec05f;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.small {
    margin-top: auto;
    margin-bottom: auto;
    height: 4.5%;
    width: 1.5%;
}

hr {
    background-color: white;
    border: none;
}

p {
    color: black;
}

h1 {
    color: #157ea0;
}

.partis {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.green {
    color: #009f00;
}

.blue {
    color: #157ea0;
}

.black {
   color: black;
}

ul {
    list-style: none;
}

.margin {
    margin: 10px;
}